@model IEnumerable<MonteCarloSim.Models.Option>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Contract Name")
        </th>
        <th>
            @Html.DisplayName("Expriry Date")
        </th>
        <th>
            @Html.DisplayName("Current Price")
        </th>
        <th>
            @Html.DisplayName("Strike Price")
        </th>
        <th>
            @Html.DisplayName("Implied Volatility")
        </th>
        <th>
            @Html.DisplayName("Risk Free Rate")
        </th>
        <th>
            @Html.DisplayName("Option Type")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpriryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrikePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpliedVolatility)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RiskFreeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
