@model IEnumerable<MonteCarloSim.Models.Option>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Contract Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Expiry Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Current Price", "Index", new { sortOrder = ViewBag.CurrSortParm })
        </th>
        <th>
            @Html.ActionLink("Strike Price", "Index", new { sortOrder = ViewBag.StrikeParm })
        </th>
        <th>
            @Html.ActionLink("IV", "Index", new { sortOrder = ViewBag.IVParm })
        </th>
        <th>
            @Html.ActionLink("Risk Free Rate", "Index", new { sortOrder = ViewBag.RiskFreeParm })
        </th>
        <th>
            @Html.ActionLink("Option Type", "Index", new { sortOrder = ViewBag.OptionTypeParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrikePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpliedVolatility)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RiskFreeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
